:root{
  --mainBlue: #2a2a2a;
  --mainlight: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed:   #e60000;
}

.app{
  font-family: 'Work Sans', sans-serif !important;
   background-image: url('./restaurant2.jpeg');
  background-size: cover;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  height: 75vh;
  
 
}


.card-img-top{
  height: 15rem;
}

.col-container {
    display: table;
    width: 100%;
  }
  .col {
    display: table-cell;
  }

  .text-title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark)!important;
  color: var(--mainWhite) !important;

}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);

}